#homePage {
    border-radius: 5px;
    z-index: 20;
    height: 75.5vh;

}

.homePageText {


    height: 70.45vh;
    margin-left: 4.4vw;
    width: 90.45vw;
    display: block;
    border-color: aliceblue;
    border-style: double;
    border-radius: 5px;
    text-align: center;
    font-size: 5vh;
    margin-top: 22vh;

}


.homePageSubTitle {
    color: aliceblue;
    margin-top: 2vh;
    font-size: 2vh;
    font-family: 'Unna', serif;
    letter-spacing: 0.5em;
    width: 100%;
}

.container {
    height: 8.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    width: 20%;
    margin-left: 36vw;

}

.title {


    font-family: 'Unna', serif;
    font-weight: 100;
    letter-spacing: 0.2em;
    color: transparent;
    cursor: pointer;
    width: 100%;
    font-size: 5vw;

}

.word {

    display: flex;
    justify-content: center;
}

.word:hover .char::after {
    transform: translateY(0);
}

.word:hover .char:nth-child(n)::before {
    transform: translateY(-100%);
}

.word:hover .char:nth-child(2n)::before {
    transform: translateY(100%);
}

.word:hover .char:hover::before {
    transform: translateY(0);
}

.word:hover .char:hover:nth-child(n)::after {
    transform: translateY(100%);
}

.word:hover .char:hover:nth-child(2n)::after {
    transform: translateY(-100%);
}

.char {
    position: relative;
    overflow: hidden;
}

.char::before,
.char::after {
    content: attr(data-char);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.6s cubic-bezier(0.35, 0, 0.65, 1);
    color: #ffffff;
}

.char:nth-child(n)::after {
    transform: translateY(100%);
}

.char:nth-child(2n)::after {
    transform: translateY(-100%);
}